*{
  margin: 0;
  padding: 0;
}

body,
button{
  font-family: 'Montserrat', sans-serif;;
}
a {
  text-decoration: none;
  border:  1px solid white;
  padding: 3px;
}

a:hover{
   text-decoration: underline;
   border:1px solid

}

a:visited{
   color: grey;
}
.first-nav{
  padding: 12px;
  text-align: right;
  background: lightgray;

}

.second-nav{
  padding: 12px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner{
  padding:80px;
  text-align: center;
  background: lightblue;
  background-image: url(https://placeimg.com/640/480/tech);
}

.banner .overlay{
  background: rgba(100, 100, 100,.4);

}

.banner button,
.banner h1{
  margin: 12px;
  color: white;
  }

.banner h1{
  font-size: 60px;
}

.banner button{
   padding: 6px 6px;
   background: white;
   border: 1px solid white;   
   border-radius: 3px;
   color: black;
}

.items{ 
  display: flex;
  padding: 12px 48px;
  justify-content: space-between;
  flex-wrap: wrap;

  
}

.App-items{
  height: 300px;
  border: 1px solid gray;
  width: 24%;
  margin-bottom: 12px;
  text-align: center;
  
}

.App-items img{
  width: 100%;
}


.pagina{
  border: 1px solid;
  background: goldenrod;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  display: block;

}

.pagina:hover {
  font-weight: bold;
  box-shadow: gray 3px 3px 3px;

}

.negrita{
  font-weight: bold;
}


.tachado{
  text-decoration: line-through;
}

.precio{
  font-weight: bold;
}

.off{
  color: forestgreen;
}

.tachado,
.precio,
.off{
  display: block;
}

.footer{
  background: lightgray;
  height: 200px;
  padding: 24px;
}

.footer form input{
  padding: 6px;
  font-size: 18px;
  color: cadetblue;
  border: 1px solid cadetblue;
  border-radius: 3px;
}

.footer form button{
  font-size: 18px;
  border-radius: 3px;
  padding: 6px;
  color: white;
  background: dodgerblue;
  border: 1px solid dodgerblue;
  margin: 12px;
}

.footer p{
  line-height: 27px;
}



.cookie{
  background: rgba(0, 0, 0, 0.75);
  position: sticky;
  bottom: 0px;
  color: white;
  padding: 24px;
  text-align: center;
}

.cookie a{
  border: none;
  color: white;
}

.repo{
  height: 200px;
  text-align: center;
}

.repo img{
  height: 100px;
  padding: 5px;
}

.repo button{
  margin: 6px;
  padding: 6px;
}




@media screen and (max-width: 768px){
  .banner h1{
      font-size: 42px;
  }
  .items{
      padding: 24px;
  }

  .items div {
   width: 48%;
 }
}


@media screen  and (max-width: 426px){
  
  .second-nav .mini-menu {
      position: relative;

  }

  .second-nav .menu{
     display: none;
     position: absolute;
     top: 36px;
     right: 0px;
     background: white;
     line-height: 25px;
     
  }

  .second-nav .hamburgesa{
      text-align: center;
  }

  .second-nav .hamburgesa:hover  +  .menu{
      display: flex;
      flex-direction: column;
      text-align: right;

  }

  .second-nav img{
      height: 30px;
  }
 
  .second-nav .logo{
      height: 60px;
  }
  .banner {
      display: none;
  }
  .items{
      padding: 12px;
  }
 
  .items div{
      width: 100%;
       }
   }
   